.delivery-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.border {
    border-top: 5px solid rgb(225, 99, 99);
    width: 80vw;
}

.delivery-info-form{
    display: flex;
    flex-direction: column;
}

.delivery-info-button-container{
    display: flex;
    align-self: self-end;
    gap: 20px;
}

.delivery-info-button{
    border-radius: 5px;
    background-color: rgb(225, 99, 99);
    color: white;
    border: white;
    padding: 10px 15px;
}

.delivery-info-button:hover{
    background-color: rgb(193, 64, 64);
}