.progress {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.target {
    margin-top: 7%;
    padding: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1.5em;
    height: 1.5em;
    border: 3px solid rgb(225, 99, 99);
    border-radius: 50%;
}


.step-number {
    color: rgb(225, 99, 99);
    font-size: 1em;
}

.step-description {
    color: rgb(225, 99, 99);
    font-size: 1em;
}

.border {
    border-top: 5px solid rgb(225, 99, 99);
    width: 80vw;
}


@media (max-width: 498px) {
    .progress{
        display: flex;
        flex-direction: column;
        gap: 0.1em;
    }
}