<div class="delivery-type">
    <div class="progress">
        <div class="step">
            <h2 class="step-number target">1 </h2>
            <h4 class="step-description">Choose Delivery Type </h4>
        </div>
        <div class="step">
            <h2 class="step-number">2 </h2>
            <h4 class="step-description">Delivery Information </h4>
        </div>
        <div class="step">
            <h2 class="step-number">3 </h2>
            <h4 class="step-description">Contents Information </h4>
        </div>
        <div class="step">
            <h2 class="step-number">4 </h2>
            <h4 class="step-description">Confirmation </h4>
        </div>
    </div>
    <hr class="border">

    <div class="delivery-type">
        <h2 class="delivery-type-title">Choose Delivery Type</h2>
        <div class="delivery-type-list">
            <div class="delivery-type-item">
                <img class="delivery-type-img" src="truck.png" alt="truck"/>
                <h4 class="delivery-type-description">Domestic Delivery</h4>
                <button class="delivery-type-button" type="button">Select</button>
            </div>
            <div class="delivery-type-item">
                <img class="delivery-type-img" src="plane.png" alt="plane"/>
                <h4 class="delivery-type-description">International Delivery</h4>
                <button class="delivery-type-button" type="button">Select</button>
            </div>
        </div>
    </div>
</div>