<div class="delivery-type">
    <app-progress [isTarget]="1"></app-progress>

    <div class="delivery-type">
        <h2 class="delivery-type-title">Choose Delivery Type</h2>
        <div class="delivery-type-list">
            <div class="delivery-type-item">
                <img class="delivery-type-img" src="truck.png" alt="truck"/>
                <h4 class="delivery-type-description">Domestic Delivery</h4>
                <button class="delivery-type-button" type="button" (click)="onSelectDomestic()">Select</button>
            </div>
            <div class="delivery-type-item">
                <img class="delivery-type-img" src="plane.png" alt="plane"/>
                <h4 class="delivery-type-description">International Delivery</h4>
                <button class="delivery-type-button" type="button" (click)="onSelectInternational()">Select</button>
            </div>
        </div>
    </div>
</div>