.delivery-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.border {
    border-top: 5px solid rgb(225, 99, 99);
    width: 80vw;
}

.back-button{
    border-radius: 5px;
    background-color: rgb(225, 99, 99);
    color: white;
    border: white;
    padding: 10px 15px;
}

.back-button:hover{
    background-color: rgb(193, 64, 64);
}