<div class="confirmation">
    <app-progress [isTarget]="4"></app-progress>

    <div class="confirmation-contents">
        <app-delivery-info-form [isReadOnly]="true" [deliveryModel]="deliveryInfo()"/>
        <hr class="border">
        <app-item-table [isReadOnly]="true" [items]="deliveryInfo().contents"/>

        <div class="control-button-container">
            <button type="button" class="control-button">Back </button>
            <button type="button" class="control-button">Confirm </button>
        </div>
    </div>
</div>