.delivery-overview{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.dlist{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}

.dlist dt{
    font-weight: bold;
    margin-left: 5%;
    font-size: 1em;
}

.dlist dd{
    margin-left: 1em;
    font-size: 1em;
}

.border {
    border-top: 5px solid rgb(225, 99, 99);
    width: 80vw;
}

.delivery-overview table{
   width: 80%;
   border-spacing: 0;
   margin-bottom: 3%;
   margin-top: 3%;
}

.delivery-overview table thead tr th:first-child {
  border-top-left-radius: 10px;
}
.delivery-overview table thead tr th:last-child {
  border-top-right-radius: 10px;
}
.delivery-overview table tbody tr td:last-child {
  border-bottom-right-radius: 10px;
}
.delivery-overview table tbody tr td:first-child {
  border-bottom-left-radius: 10px; 
}

.delivery-overview table thead{
    background-color: rgb(236, 140, 140);
}

.delivery-overview thead th{
    color: white;
    font-size: 1em;
    padding: 0.8em 0.8em 0.8em 0.01em;
    text-align: center;
}

.delivery-overview tbody tr{
    background-color: white;
}

.delivery-overview tbody tr td{
    border-bottom: solid 1px rgb(160, 149, 149);
}

.delivery-overview tbody td{
    text-align: center;
    padding: 0.8em 0.8em 0.8em 0.01em;
}

.button-container{
    display: flex;
    align-self: flex-end;
    margin-right: 10%;
    gap: 10%;
}


.detail-button{
    border-radius: 5px;
    background-color: rgb(225, 99, 99);
    color: white;
    border: white;
    padding: 5px 10px;
}

.back-button{
    border-radius: 5px;
    background-color: rgb(225, 99, 99);
    color: white;
    border: white;
    padding: 10px 15px;
}

.detail-button:hover, .back-button:hover{
    background-color: rgb(193, 64, 64);
}

@media (max-width: 498px) {
    .dlist{
        display: flex;
        flex-direction: column;
        gap: 0.1em;
    }
}