<div class="delivery-overview">
    <h2>Delivery information</h2>
    <table>
        <thead>
            <tr>
                <th>Tracking ID</th>
                <th>Delivery Type</th>
                <th>Registered Date</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>12345</td>
                <td>International</td>
                <td>2021-05-09</td>
                <td>Delivering</td>
                <td><button type="button" class="detail-button" (click)="onClickDetail()">Detail</button></td>
            </tr>
        </tbody>
    </table>
</div>