<div class="delivery-overview">
    <h2>Delivery information</h2>
    <dl class="dlist">
        <dt>Tracking ID:</dt>
        <dd>{{trackingId}}</dd>
        <dt>Delivery Type:</dt>
        <dd>{{deliveryType}}</dd>
        <dt>Registered Date:</dt>
        <dd>{{registeredDate}}</dd>
    </dl>
    <hr class="border">
    <table>
        <thead>
            <tr>
                <th>Start date</th>
                <th>End date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @for (history of deliveryStatus.deliveryHistory; track $index) {
            <tr>
                <td>{{history.start}}</td>
                <td>{{history.end}}</td>
                <td>{{history.status}}</td>
            </tr>
            }

        </tbody>
    </table>

    <div class="button-container">
        <button class="back-button" type="button" (click)="onClickBack()">Back</button>
        <button type="button" class="detail-button" (click)="onClickDetail()">Detail</button>
    </div>

</div>