<h2 class="contents-header">Contents Information</h2>
<div class="items">
    <table>
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Amount</th>
                <th>Price(PLN)</th>
                <th>Weight (kg)</th>
                <th>Country of Origin</th>
                <th>Type</th>
                @if(!isReadOnly()){
                   <th></th> 
                }
            </tr>
        </thead>
        <tbody>
            @for (item of deliveryService.deliveryInfo().contents; track $index) {
                <tr>
                <td>{{item.productName}}</td>
                <td>{{item.amount}}</td>
                <td>{{item.price}}</td>
                <td>{{item.weight}}</td>
                <td>{{item.countryOfOrigin}}</td>
                <td>{{item.type}}</td>
                @if (!isReadOnly()) {
                    <td><button type="button" class="delete-button">delete</button></td>
                }
            </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td>Total</td>
                <td>{{totalValues().totalAmount}}</td>
                <td>{{totalValues().toatlPrice}}PLN</td>
                <td>{{totalValues().totalWeight}}kg</td>
                <td></td>
                <td></td>
                @if(!isReadOnly()){
                    <td></td>
                }
            </tr>
        </tfoot>
    </table>
</div>