<div class="content-info">
    <div class="progress">
        <div class="step">
            <h2 class="step-number">1 </h2>
            <h4 class="step-description">Choose Delivery Type </h4>
        </div>
        <div class="step">
            <h2 class="step-number">2 </h2>
            <h4 class="step-description">Delivery Information </h4>
        </div>
        <div class="step">
            <h2 class="step-number target">3 </h2>
            <h4 class="step-description">Contents Information </h4>
        </div>
        <div class="step">
            <h2 class="step-number">4 </h2>
            <h4 class="step-description">Confirmation </h4>
        </div>
    </div>
    <hr class="border">

    <div class="contents">
        <h2 class="contents-header">Contents Information</h2>
        <div class="items">
            <table>
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Amount</th>
                        <th>Price</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Green Tea</td>
                        <td>2</td>
                        <td>50PLN</td>
                        <td>Food</td>
                    </tr>
                    <tr>
                        <td>iphone</td>
                        <td>1</td>
                        <td>3000PLN</td>
                        <td>Electronic Device</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>Total</td>
                        <td>3</td>
                        <td>3100PLN</td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <hr class="border">


        <div class="content-input-field">
            <p class="input-header">Add Package Item</p>
            <div class="input-item">
                <label for="product-name" class="input-label">Product Name</label>
                <input type="text" placeholder="Enter Product Name" id="product-name" name="product-name"
                    class="input-field" required="">
            </div>

            <div class="input-item">
                <label for="amount" class="input-label">Amount</label>
                <input type="number" id="amount" name="amount" class="input-field" required="" min="1">
            </div>

            <div class="input-item">
                <label for="price" class="input-label">Price</label>
                <input type="number" id="type-name" name="type-name" class="input-field" required="" min="1">
            </div>

            <div class="input-item">
                <label for="type-name" class="input-label">Type</label>
                <input type="text" placeholder="Enter Item Type" id="type-name" name="type-name" class="input-field"
                    required="">
            </div>

            <div class="add-button-container">
                <button type="button" class="add-button">Add</button>
            </div>
        </div>

        <hr class="border">

        <div class="control-button-container">
            <button type="button" class="control-button">Back </button>
            <button type="button" class="control-button">Next </button>
        </div>
    </div>


</div>