<div class="content-info">
    <div><app-progress [isTarget]="3"></app-progress></div>

    <div class="contents">
        <h2 class="contents-header">Contents Information</h2>
        <div class="items">
            <table>
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Amount</th>
                        <th>Price</th>
                        <th>Weight (kg)</th>
                        <th>Country of Origin</th>
                        <th>Type</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Green Tea</td>
                        <td>2</td>
                        <td>50PLN</td>
                        <td>0.01</td>
                        <td>Japan</td>
                        <td>Food</td>
                        <td><button type="button" class="delete-button">delete</button></td>
                    </tr>
                    <tr>
                        <td>iphone</td>
                        <td>1</td>
                        <td>3000PLN</td>
                        <td>0.15</td>
                        <td>China</td>
                        <td>Electronic Device</td>
                        <td><button type="button" class="delete-button">delete</button></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>Total</td>
                        <td>3</td>
                        <td>3100PLN</td>
                        <td>0.16</td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <hr class="border">


        <div class="content-input-field">
            <p class="input-header">Add Package Item</p>
            <div class="input-item">
                <label for="product-name" class="input-label">Product Name</label>
                <input type="text" placeholder="Enter Product Name" id="product-name" name="product-name"
                    class="input-field" required="">
            </div>

            <div class="input-item">
                <label for="amount" class="input-label">Amount</label>
                <input type="number" id="amount" name="amount" class="input-field" required="" min="1">
            </div>

            <div class="input-item">
                <label for="price" class="input-label">Price</label>
                <input type="number" id="type-name" name="type-name" class="input-field" required="" min="1">
            </div>

            <div class="input-item">
                <label for="type-name" class="input-label">Type</label>
                <select id="type-name" name="type-name" class="select-field" required="">
                    <option value="" disabled hidden selected>Select Item Type</option>
                    <option value="food">Food</option>
                </select>
            </div>

            <div class="add-button-container">
                <button type="button" class="add-button">Add</button>
            </div>
        </div>

        <hr class="border">

        <div class="control-button-container">
            <button type="button" class="control-button">Back </button>
            <button type="button" class="control-button">Next </button>
        </div>
    </div>


</div>