<div class="content-info">
    <div><app-progress [isTarget]="3"></app-progress></div>

    <div class="contents">
        <app-item-table [isReadOnly]="false" [items]="deliveryInfo().contents" (removeIndex)="onRemoveItem($event)"></app-item-table>
        <div class="add-button-container">
            <button type="button" class="add-button" (click)="onClickAddItem()">Add</button>
        </div>
        <hr class="border">

        <div class="control-button-container">
            <button type="button" class="control-button" (click)="onClickBack()">Back </button>
            <button type="button" class="control-button" (click)="onClickNext()">Next </button>
        </div>
    </div>


</div>